@mixin light-weight-font{
    font-weight: 200;
    opacity: 0.8;
}

@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #FDFBF5;
    font-family: "Syne", sans-serif;

}

html{
    font-family: Syne (woff2)
"Syne Placeholder"
sans-serif;
}
body{
    padding: 1rem;
}
main{
    padding: 1rem;
    border: 1px solid black;
    padding-top: 3rem;
    width: 100%;
}

nav{
    .nav-1{
        display: flex;
        gap: 3rem;
        padding-bottom: 2rem;

        .head{
            display: flex;
            flex-direction: row;
            gap: 2rem;
        }

    svg{
       width: 4rem;
       aspect-ratio: 1/1; 
    }
    a{
        text-decoration: none;
        color: #000;
    }
    }
    
     .line{
        background-color: #000;
        height: 1px;
    }
}



.view-1{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    p{
      @include light-weight-font;
    }

    h1{
        width: 100%;
        font-size: 4rem;
        font-weight: 300;
        width: 70%;
    }
    img{
       width: 100%;
       object-fit: cover;
       border-radius: 1rem;
    }
}
.view-2{
    margin: 2rem 0;
    display: flex; 
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    .top{
         display: flex;
         flex-direction: column;
         gap: 2rem;
        p{
          @include light-weight-font;
        }
        
        h1{
        width: 100%;
        font-size: 3rem;
        font-weight: 300;
        width: 90%;
       }
       button{
        padding: 1rem;
        border: 0.5rem;
        width: fit-content;
        border-radius: 0.5em;
        background-color: #000;
        color: #f1e7c8;
       }
    }

    .line{
        background-color: #000;
        height: 1px;
    }

    .bottom{
        display: flex;
        flex-direction: column;
        gap: 2rem;

         .elem{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    svg{
       width: 4rem;
       aspect-ratio: 1/1; 
    }
    h1{
        font-size: 2.5rem;
        font-weight: 200;
    }
    p{
        @include light-weight-font;
    }
    }
   
}

@media (min-width:1020px){
    main{
        padding: 3rem;
    }
   .view-1{
     h1{
        font-size: 6rem;
        font-weight: 500;
        width: 100%;
    }
   }
   .view-2{
    flex-direction: row;

    .line{
        height: initial;
        width: 1px;
    }
    .top{
        width: 60%;
        justify-content: space-between;

        h1{
            font-size: 4rem;
        }
    }
    .bottom{
        width: 30%;
        .line{
            height: 1px;
            width: 100%;
        }
    }
   }

   
}